.app-main {

  margin: 200px 0px;
}

.big-box {
  width:1400px;
}

.plot-box {
  /* min-width: 700px;*/
  min-height: 450px; 
  min-width: 700px;
}
.config-pad-box {
  max-width: 700px;
  min-width: 700px;
}

@media only screen and (max-width: 1390px) {
  /* .config-pad-box {
    min-width: 700px;
  } */

  .app-main {

    margin: 50px 0px;
  }

}