.app-main {

  margin: 200px 0px;
}

.popover  {
  position: absolute;
  top: 320px;
  right: 45px;
  z-index: 2;
}

.cover {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.default-color {
  width: 14px;
  height: 14px;
  border-radius: 2px;
  /* background: rgba(80,227, 194, 100); */
  
}

.big-box {
  width:1400px;
}

.plot-box {
  /* min-width: 700px;*/
  min-height: 450px; 
  min-width: 700px;
}
.config-pad-box {
  max-width: 700px;
  min-width: 700px;
}

@media only screen and (max-width: 1390px) {
  /* .config-pad-box {
    min-width: 700px;
  } */

  .app-main {

    margin: 50px 0px;
  }

}